* {
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.joke-app {
  background: url("/public/Handprints.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  height: 100vh;
}

.content {
  margin-top: 27vh;
}

.joke-app h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.joke-app p {
  font-size: 18px;
  margin-bottom: 10px;
}

.joke-app button:first-of-type {
  background-color: rgba(220, 220, 220, 0.283);
  color: black;
  border: .1px solid #2E86C1;
}

.joke-app button:first-of-type:hover {
  background-color: rgba(220, 220, 220, 0.283);
  color: black;
  border: .1px solid #0069D9;
}

.joke-app button {
  background-color: #2E86C1;
  color: white;
  padding: 10px 20px;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  min-width: 200px;
}

.joke-app button:hover {
  background-color: #0069D9;
}